<!--The ng-controller directive tells Angular the scope of the controller. 
    In this case, the SearchCtrl is given the scope of the <div> element where it is called. 
    We then use SearchCtrl (as ctrl) to manipulate elements within this <div>-->
<div ng-controller="SearchCtrl as ctrl">
    <div class="page-header">
        <h1>Grocery Management System
            <small>Search</small>
        </h1>
    </div>
    <br/>

    <!--Search UI-->
    <!-- Creates Input Form and fields for uesr to enter search string -->
    <form name="queryForm" class="form-inline">
        <div class="form-group">
            <input id="Name" class="form-control" type="text"
                   name="Name"
                   ng-model = "ctrl.queryString"
                   size="50"
                   placeholder="Enter Name">
            <input id="Brand" class="form-control" type="text"
                   name="Brand"
                   ng-model = "ctrl.queryString"
                   size="50"
                   placeholder="Enter Brand">
            <input id="Submit" class="form-control" type="submit"
                    ng-submit = "ctrl.grocerySearch()">
        </div>
    </form>
    <hr>
    <!-- Creates area to display search result-->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>barcode</th>
            <th>UPC12</th>
            <th>Name</th>
            <th>Brand</th>
        </tr>
        </thead>
        <tbody>
        <!--ng-repeat directive repeats an HTML element a number of times. The syntax ng-repeat = "x in y" allows us
        to iterate through an array or object. In the case below, we are iterating through the contents of the array
        of objects ctrl.departments, dept is assigned an instance (i.e, an object) of the array-->
        <tr class="animation" ng-repeat="grocery in ctrl.grocery | filter:ctrl.queryString">
            <td><a href="" ui-sref="edit({id:grocery.id})">{{grocery.id }}</a></td>
            <td><img src="http://www.barcodes4.me/barcode/c128a/{{grocery.upc12}}.png?IsTextDrawn=1"></td>
            <td>{{grocery.upc12 }}</td>
            <td>{{grocery.name }}</td>
            <td>{{grocery.brand }}</td>
        </tr>
        </tbody>
    </table>
</div>
